<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flight-Tracker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    {{! <link rel="stylesheet" href="/stylesheets/style.css" /> }}
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/homepage">Flight-Tracker</a>
        </h1>
        <nav>
          {{#if loggedIn}}
          <button id="logout" class="btn-no-style">logout</button>
          {{else}}
          <a href="/signup">signup</a>
          <a href="/login">login</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Thanks for booking!
      </footer>
    </div>
    <script src="/javascript/logout.js"></script>

  </body>

</h