<section>
  <div> 
      <h2>
          Flight Search 
      </h2>
  </div>  
  <form id="flight-search">
  <label for="origin">Origin</label>
  <input type="text" name="origin" id="origin">
   <label for="departure">Departure</label>
  <input type="text" name="departure" id="departure">
  <label for="departure_date">Departure date</label> 
  <input type="date" name="departure_date" id="depature_date">
  </form>
</section>
<script src="/javascript/duffel_API.js"></script>
