<form class="login-form">
  <div>
    <label for="email-login" class="form-label">Email address</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login" class="form-label">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" class="btn btn-primary">login</button>
  </div>
</form>
