<div
  class="d-flex align-items-center justify-content-center"
  id="login-section"
>
  <form class="login-form row g-2">
    <div class="col-md-12">
      <label for="email-login" class="form-label">Email</label>
      <input type="email" class="form-control" id="email-login" />
    </div>
    <div class="col-md-12">
      <label for="password-login" class="form-label">Password</label>
      <input type="password" class="form-control" id="password-login" />
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">login</button>
    </div>
    <div class="col-12">
      <p>Don't have an account? Click <a href="/signup">Here!</a></p>
    </div>
  </form>
</div>