<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="/homepage">Flight Tracker</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{#if loggedIn}}
          <li class="nav-item">
            <a href="/homepage" class="nav-link">Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/myflights">My Flights</a>
          </li>
          <li class="nav-item">
            <a id="logout" class="nav-link">Logout</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a href="/homepage" class="nav-link">Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/my-flights">My Flights</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="login-btn nav-link">login</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
<h2>My tickets</h2>